#!/usr/bin/make -f

export LC_ALL=C
export MAKEFLAGS=-s
export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
include /usr/share/dpkg/buildflags.mk

CONFFLAGS = --prefix=/usr --unbundled

# Disable parallel build on armel and mipsel
ifeq ($(or $(findstring armel, $(DEB_HOST_ARCH)), $(findstring mipsel, $(DEB_HOST_ARCH))), )
	EXTRA_DH_OPTS += --parallel
endif

ifeq ($(DEB_HOST_ARCH_OS),linux)
	CONFFLAGS += --config=Linux
else ifeq ($(DEB_HOST_ARCH_OS),kfreebsd)
	CONFFLAGS += --config=FreeBSD
endif

POCO_LIBS = $(shell dh_listpackages | grep dbg | sed -e 's/-dbg//')


%:
	dh $@ --with=quilt $(EXTRA_DH_OPTS)

override_dh_auto_clean:
	source env.sh
	dh_auto_clean
	
override_dh_auto_configure:
	./configure $(CONFFLAGS)
	
override_dh_auto_test:
	chmod 755 ./debian/testrunner.sh
	./debian/testrunner.sh

override_dh_strip-%:
	dh_strip -p$* --dbg-package=$*-dbg

override_dh_strip: 
	$(POCO_LIBS:%=override_dh_strip-%)
